# Assignment 1 - Python Basics Practice

In this assignment, you'll get to practice some of the concepts and skills covered in the following notebooks:

1. First Steps with Python and Jupyter
2. A Quick Tour of Variables and Data Types
3. Branching using Conditional Statements

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end.

## Problem 1 - Variables and Data Types

**Q: Assign your name to the variable `name`.**

In [3]:
name = "Farouk Waked"

**Q: Assign your age (real or fake) to the variable `age`.**

In [4]:
age = 25

**Q: Assign a boolean value to the variable `has_android_phone`.**

In [24]:
has_android_phone = True

You can check the values of these variables by running the next cell.

In [6]:
name, age, has_android_phone

('Farouk Waked', 25, True)

**Q: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [25]:
person = {"Name": name,"Age": age,"HasAndroidPhone": has_android_phone}

Let's use the `person` dictionary to print a nice message.

In [27]:
print(f"Hello my name is {person['Name']} i am {person['Age']} {'yes i have an android'if person['HasAndroidPhone'] else 'no i dont have one'}")

Hello my name is Farouk Waked i am 25 yes i have an android

**Q (Optional): Use a `for` loop to display the `type` of each value stored against each key in `person`.**

Here's the expected output for the key `"Name"`:

```
The key "Name" has the value "Derek" of the type "<class 'str'>"
```

In [ ]:
# this is optional

## Problem 2 - Working with Lists

**Q: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [38]:
MyInfo = ['blue', 0, True]

Let's see what the list looks like:

In [39]:
print(MyInfo)

['blue', 0, True]

**Q: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

*Hint*: Use the list indexing notation `[]`.

In [40]:
print('My favorite color is', MyInfo[0])

My favorite color is blue

In [41]:
print(f'I have  {MyInfo[1]} of pets')

I have  0 of pets

In [42]:
# use if else to check if you have a programming experience or not
print('I have no programming experience.'if not MyInfo[2] else 'I have programming experience.')

I have programming experience.

**Q: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [43]:
MyInfo.append(7)

Let's see if the number shows up in the list.

In [44]:
print(MyInfo)

['blue', 0, True, 7]

**Q: Remove the first element of the list, using the appropriate list method.**

*Hint*: Check out methods of list here: https://www.w3schools.com/python/python_ref_list.asp

In [45]:
MyInfo.pop(0)

'blue'

In [46]:
print(MyInfo)

[0, True, 7]

**Q: Complete the `print` statement below to display the number of elements in `my_list`.**

In [56]:
# i dont found it                                                                           farouk
print("Number of elements in my_list:", len(MyInfo))

Number of elements in my_list: 3

## Problem 3 - Conditions and loops

**Q: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

*Hint*: One way to do this is to loop over a `range` using `for` and use an `if` statement inside it.

In [47]:
# store the final answer in this variable
sum_of_numbers = 0

# perform the calculation here


for number in range(18, 535):
    if not number % 7 :
        sum_of_numbers += number

print("Sum:", sum_of_numbers)

Sum: 20461

In [48]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [49]:
cost_of_flying_plane = 5000

In [50]:
number_of_passengers = 29

In [51]:
price_of_ticket = 200

In [54]:
revenue = number_of_passengers*price_of_ticket
print("$",revenue)

$ 5800

In [55]:
profit = revenue-cost_of_flying_plane
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q : Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

Use an `if` statement to display the result.

In [ ]:
# this is optional
return_passengers =
return_profit =
print(return_profit)

In [ ]:
# this is optional
if return_profit > 0:
    print("The company makes an overall profit of {} dollars".format(return_profit))
else:
    print("The company makes an overall loss of {} dollars".format(abs(return_profit)))